/*
 *Name: [Wesley Boyce]
 *UnityID: [wjboyce2]
 *Date: [09/19/24]
 *Assignment: [Guided lab 4]
 *Description: [About me webpage]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #decaff
}

.table-border {
    border: 1px solid #decaff;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
